body, html {
    margin: 0;
    padding: 0;
    background-color: #000000
}

.form-login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 400px;
    height: 400px;
    background-color:gainsboro;
    padding: 30px;
}

.login{
    margin-top: 100px;
}

.password{
    margin-top: 10px;
}

button {
    margin-top: 30px;
    margin-left: 150px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none ;
}